@media (min-width: 992px) {
  .link_effect {
    a {
      color: black;
      display: inline-block; /* Restrict width to text content */
      padding: 10px 0;
      position: relative;
      transition: all 0.3s ease-out 0.1s;

      &::after {
        height: 3px;
        width: 100%;
        background: aquamarine;
        content: "";
        position: absolute;
        right: 0; /* Start from the right */
        bottom: 0;
        transform: scaleX(0); /* Scale horizontally */
        transform-origin: center; /* Animate from center to right and left */
        transition: transform 0.3s ease-out;
      }

      &:hover {
        &::after {
          transform: scaleX(1); /* Expand to full width */
        }
      }
    }
  }
}
